<!DOCTYPE html>
<html lang="pl">
<!--
   quiz.html
-->

<head>
<meta charset="utf-8" />
<title>Aplikacja QUIZ - rozwiąż buty</title>

</head>

<body>
    <h1>Quiz – odpowiedz na pytania</h1>
    
    <form method="POST">
        <ol>
        {% for p in pytania %}
            <li>
            {{ p.pytanie }}
            <ol>
                {% for o in p.odpowiedzi %}
                <li>
                    <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
                    {{ o. odpowiedz }}</li>
                {% endfor %}
            </ol>
            </li>
            {% endfor %}
        </ol>
        
        <input type="submit" value="Prześlij"></input>
    </form>

</body>

</html>
