{% extends "szablon.html" %}
{% block tytul %}Quiz – odpowiedz na pytania{% endblock %}
{% block h1 %}Quiz – odpowiedz na pytania{% endblock %}
{% block tresc %}
    <form method="POST">
        <ol>
        {% for p in pytania %}
            <li>
                {{ p.pytanie }}
                <ol>
                    {% for o in p.odpowiedzi %}
                    <li>
                        <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
                        {{ o.odpowiedz }}</li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ol>
        <input type="submit" value="Prześlij">
    </form>
{% endblock %}
