/*
    font-family: arial, tahoma, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3em;
*/
body  {
    font: normal normal 12pt/1.3em arial, tahoma, sans-serif;
}

h1 {
    font-size: 300%;
}

h2{
    font-size: 250%;
}

p {
    font-size: 14pt;
    line-height: 150%;
}

.czerwony {
    color: red;
}

.pogrubione {
    font-weight: bold;
}

.pochylony {
    font-style: italic;
}

.wyrozniony {
    color: ;
    font-weight: bold;
    font-style: italic;
}

p.srodek {
    clear: both;
    text-align: center;
}

img {
    float: right;
}




